<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="/assets/styles/styles.css" rel="stylesheet" type="text/css">-->

    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/secret.min.js"></script>
</head>
<body class="container-fluid">
<div class="theForm">
    <form id="inputForm" method="POST">
        <label for="name">Name:</label>
        <input name="name" placeholder="your name" id="name" type="text">
        <label for="messageInput">Message:</label>
        <input name="message" placeholder="your message" id="messageInput" type="text">
        <button class="btn btn-info" type="submit" id="submit" value="message">Post your message</button>
        <button class="btn btn-info" type="submit" id="refresh" value="Refresh">Refresh the page</button>
    </form>
</div>

<div id="container" class="containerStyle"></div>
</body>
</html>

